html {
    background: #000000;
    height: 100%;
    
  }
  body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
  }
  main {
    display: block;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
  }
  h1 {
    color: #FFFF;
    font-weight: 400;
    margin: 0;
  }
  p {
    color: #FFFF;
    text-align: center;
  }
  img {
    text-align: center;
  }